.root {
    background-color: var(--background-color-lighter);
    width: 70%;
    padding: 24px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 28px;
    line-height: 28px;
}

.footer {
    display: flex;
    justify-content: center;
}

.addButton {
    padding: 2px 16px;
    font-size: 20px;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    text-wrap: nowrap;
}

.addButton:hover {
    cursor: pointer;
}
