.root {
    overflow: hidden;
    border: 5px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    text-align: center;
    user-select: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    height: 300px;
    width: 240px;
    transition: transform 0.2s ease-in-out;
}

.root:hover {
    transform: scale(1.02);
    border: 5px solid black;

    .header > svg {
        animation: zoom 1.5s infinite;
    }
}

.root:active {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 100% 50%;
}

.standard {
    background: var(--primary-color);
}

.white {
    background: linear-gradient(to bottom left, var(--white), var(--white-lighter));
}

.blue {
    background: linear-gradient(to bottom left, var(--blue), var(--blue-lighter));
}

.black {
    background: linear-gradient(to bottom left, var(--black), var(--black-lighter));
}

.red {
    background: linear-gradient(to bottom left, var(--red), var(--red-lighter));
}

.green {
    background: linear-gradient(to bottom left, var(--green), var(--green-lighter));
}

.header > svg {
    width: 80px;
    height: 80px;
}

.title {
    font-size: 1.7rem;
    padding: 0px 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.description {
    width: 200px;
    padding: 20px 10px 0px 10px;
    font-size: 1rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
