.root {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.label {
    font-size: 22px;
    color: var(--primary-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.inputContainer {
    width: 100%;
    display: flex;
    position: relative;
}

.input {
    font-family: inherit;
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px 8px 12px 12px;
    border-radius: var(--border-radius);
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    width: 40px;
    right: 0;
    height: 100%;
}

.button:hover {
    color: var(--primary-color);
}

.valueContainer {
    margin: 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
}

.value {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: var(--border-radius);
}

.remove {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
