html {
    --background-color: #202020;
    --background-color-lighter: #303030;
    --primary-color: #ff6600;
    --primary-color-lighter: #f57d2d;
    --secondary-color: #353535;
    --secondary-color-lighter: #404040;
    --border-radius: 5px;
    --text-color-primary: #ffffff;
    --white: rgb(163, 125, 12);
    --white-lighter: rgb(240, 192, 79);
    --blue: rgb(0, 0, 255);
    --blue-lighter: rgb(4, 217, 255);
    --black: rgb(37, 3, 87);
    --black-lighter: rgb(118, 15, 134);
    --red: rgb(121, 0, 0);
    --red-lighter: rgb(255, 0, 0);
    --green: rgb(35, 109, 1);
    --green-lighter: rgb(0, 235, 90);
}

body {
    padding: 0;
    margin: 0;
    color: var(--text-color-primary);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
}
