.root {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input {
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px 8px 12px 12px;
    border-radius: var(--border-radius);
}

.label {
    font-size: 22px;
    color: var(--primary-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
